header {
  width: 100%;
  height: 170px;
  box-shadow: 0px 1px 0px #f0f0f1;
  
}
header > div.top {
  width: inherit;
  height: 60px;
  background-color: blue;
}

header > div.top > img {
  width: inherit;
  height: 60px;
  object-fit: cover;
}
header > div.bottom {
  width: inherit;
  height: 110px;
}
header > div.bottom > div.bottomtop {
  width: inherit;
  height: 70px;
}
header > div.bottom > div.bottomBottom {
  width: inherit;
  height: 40px;
}

header > div.bottom > div.bottomtop > div.logo-2 {
  width: 10%;
  height: inherit;

  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  text-align: center;
  margin-top: 25px;
}

header > div.bottom > div.bottomtop > div.search {
  width: 65%;
  height: inherit;

  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

header > div.bottom > div.bottomtop > div.login {
  width: 15%;
  height: inherit;

  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

header > div.bottom > div.bottomtop > div.logo > svg {
  margin-top: 20px;
}

header > div.bottom > div.bottomtop > div.search > input[type="search"] {
  width: 600px;
  height: 44px;
  outline: unset;
  border: unset;
  margin-top: 14px;
  border-radius: 8px;
  margin-right: 10px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: #f0f0f1;
  font-family: yekan;
  font-size: 12px;
  color: rgb(129, 133, 139);
}

header
  > div.bottom
  > div.bottomtop
  > div.search
  > input[type="search"]::placeholder {
  font-size: 12px;
  font-weight: 400;
  font-family: yekan;
}

header > div.bottom > div.bottomtop > div.login > a.register {
  display: inline-block;
  width: 135px;
  height: 40px;
  border: 0.8px solid rgb(224, 224, 226);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 15px;
  text-align: center;
  margin-right: 200px;
  text-decoration: none;
  color: rgb(12, 12, 12);
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  font-family: yekan;
  line-height: 35px;
}

header > div.bottom > div.bottomtop > div.login > span.line {
  background-color: rgb(224, 224, 226);
  display: block;
  width: 1px;
  height: 24px;
  vertical-align:bottom;
  margin-right: 350px;
  margin-top: -32px;
}

header > div.bottom > div.bottomBottom {
  width: 100%;
  height: 40px;
}
header > div.bottom > div.bottomBottom > nav {
  width: 80%;
  height: inherit;
  padding-right: 20px;
  box-sizing: border-box;
  display: inline-block;
}

header > div.bottom > div.bottomBottom > nav > div {
  display: inline-block;
  width: fit-content;
  height: 40px;
}

header > div.bottom > div.bottomBottom > nav > div > a {
  display: inline-block;
  width: inherit;
  height: inherit;
  text-decoration: none;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: yekan;
  color: rgb(161, 163, 168);
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
}

header > div.bottom > div.bottomBottom > nav > span.line22 {
  background-color: rgb(224, 224, 226);
  display: inline-block;
  width: 1px;
  height: 20px;
  vertical-align: bottom;
  margin-bottom: 10px;
  margin-left: 5px;
}

header > div.bottom > div.bottomBottom > nav > span.line222 {
  background-color: rgb(224, 224, 226);
  display: inline-block;
  width: 1px;
  height: 20px;
  vertical-align: bottom;
  margin-bottom: 10px;
  margin-left: 5px;
}

header > div.bottom > div.bottomtop > div.login > i {
  display: block;

  margin-right: 385px;
  margin-top: -21px;
  font-size: large;
}

header > div.bottom > div.bottomBottom > nav > div > a.bold2 {
  color: rgb(63, 64, 100);
  font-size: 14px;
  font-weight: 700;
  font-family: yekan;
}

header > div.bottom > div.bottomtop > div.login > a > i {
  font-size: 18px;
  color: rgb(66, 71, 80);
  margin-left: 8px;
  vertical-align: middle;
}

header > div.bottom > div.bottomBottom > div.city {
  display: inline-block;
  margin-right: 135px;
}
header > div.bottom > div.bottomBottom > div.city > p {
  display: inline-block;
  color: rgb(63, 64, 100);
  font-size: 12px;
  font-family: yekan;
  font-weight: 400;
}

header > div.bottom > div.bottomBottom > div.city > p > i {
  display: inline-block;
  margin-left: 5px;
  font-size: 19px;
  vertical-align: middle;
}

header > div.bottom > div.bottomtop > div.search > i {
  position: absolute;
  margin-top: 28px;
  margin-right: 30px;
  color: rgb(161, 163, 168);
}

header > div.bottom > div.bottomBottom > div.city>a{
  display: inline-block;
  color: rgb(63, 64, 100);
  font-size: 12px;
  font-family: yekan;
  font-weight: 400;
  text-decoration: none;

}
 .bottom .bottomBottom nav div a:hover {
  border-bottom: 2px solid crimson;
}
