div.story{
    width: 100%;
    height: 150px;
    text-align: center;
    
}
div.story>div{
    width: auto;
    display: inline-block;
    border-radius:50%;
    margin-right: 80px;
    margin-top: 26px;
    
}

div.story>div>img{
    width: 75px;
    height: 75px;
    display: block;
    border-radius:50% 50%;
    outline: 3px solid crimson;
    outline-offset: 3px;
    

}

div.story>div>h3{
    font-family: yekan;
    font-size: 13px;
    font-weight: 300;
    color: rgb(51, 51, 51);
    margin-top: 12px;


}